CONTAINER_SUFFIX=dev

POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_PORT=5432

PHP_PORT=8001

NODE_PORT=80

DOCS_PORT=8002

RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672

MAIL_PORT=1025
MAIL_WEB_PORT=8025
