# Ignore custom PHP settings
php/conf.d/custom-*.ini

# Ignore custom process in supervisor configuration
php/supervisor/conf.d/custom-*.conf

# Ignore CRON tasks
php/cron/custom-*

# Ignore custom Nginx settings
nginx/conf.d/custom-*.conf
